@media screen and (min-width: 767px) {


    .notice__step {
        width: 23%;
        margin: 3%;
        line-height: 1.5rem;

        &--number {
            line-height: 2;
        }
    }

    .tuto {
        padding: 1rem 5%;
    }

    .restaurant {
        padding: 0 5%;
    }
}

@media screen and (min-width: 1023px) {

    .tuto {
        padding: 1rem 15%;
        & ol {
            display: flex;
            align-items: baseline;
            flex-direction: row;
        }
    }

    .restaurant {
        padding: 1rem 15%!important;
        &__cards {
            display: flex;
            flex-wrap: wrap;
        }

        &__card {
            flex-basis: 45%;
            margin: 3% 2%;


            &__content {
                width: 80%;
            }

            &__logo {

                i {
                    right: auto;
                }

                &--menu i {
                    right: 3rem;
                }
            }
        }
    }

    .footer {
        display: flex;
        flex-direction: row;

        & h5 {
            position: absolute;
            right: 5%;
        }

        & a {
            margin-left: 2%;
        }
    }

    .menu {
        &__content {
            max-width: 90%;
            margin: 0 auto;

            h3 {

                width: 80%;
                margin: 1rem auto;

            }

            &__card {
                width: 80%;
                margin: 1rem auto;

                &:hover {
                    p {
                        max-width: 100%;
                    }

                    h4 {
                        max-width: 100%;
                    }
                }
            }
        }

        &__title {
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
        }

    }

    .title__underline {
        margin: 1rem 10%!important;
    }

}