.loader {
    position: fixed;
    z-index: 100;
    height: 100%;
    width: 100%;
    inset: 0px;
    background-color: grey;
    opacity: 95%;
    animation: disappear 500ms;
    animation-fill-mode: forwards;
    animation-delay: 2500ms;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fa-cookie {
    animation: spin 3000ms;
    margin: 30px;
}

.first-cookie {
    color: white;

}

.second-cookie {
    animation-delay: 500ms;
    color: #FF79DA;
}



.last-cookie {
    animation: spin 3000ms;
    margin: 30px;
    animation-delay: 1000ms;
    color: #99E2D0;
}